$white: #fff;
$black: #000;
$gray-1: #555;
$gray-2: #ccc;
$gray-3: #eee;

$blockquote: $gray-2;
$body-background: $white;
$body-text: $gray-1;
$header: $gray-3;
$links-hover: rgba(0, 0, 0, .08);
$links-visited: $body-text;
$links: red;
$post-index: rebeccapurple;

// Bigfoot.js
$button-color: red;
