$white: #fff;
$gray-1: #555;
$gray-2: #ccc;
$gray-3: #eee;

$blockquote: $gray-2;
$body-background: $white;
$body-text: $gray-1;
$header: $gray-3;
$links-hover: $gray-3;
$links-visited: $body-text;
$links: red;
$post-index: rebeccapurple;
